{% extends 'base.html' %}
{% load static %}

{% block title %}
Index page
{% endblock title %}
{% block content %}
    home page
    <p>
    {% if user.is_authenticated %}
        <div class="container">
            Welcome, {{ user.username }}
            <p><a href="{% url 'accounts:update' %}"> <button type="button" class="btn btn-primary">Update</button></a></p>
            <p><a href="{% url 'accounts:logout' %}"><button type="button" class="btn btn-warning">Logout</button></a></p>
        </div>    
    {% else %}
        <div class="container">

            Welcome, guest! 
            <br>
            <p><a href="{% url 'accounts:login' %}"><button type="button" class="btn btn-primary">Login</button></a></p>
            <p><a href="{% url 'accounts:register' %}"><button type="button" class="btn btn-info">Register</button></a></p>
        </div>    
        
    {% endif %}
    </p>
{% endblock content %}
